<div class="category">
    <div class="colour-overlay"></div>
    <div class="row">
        <div class="col text-center">
            <h2>Stop looking. Start finding.</h2>
            <p>
                Know what you’re looking for? Choose from our list of the most popular trades and start finding your trader.
            </p>
            <a href="#" class="btn btn-white">Aerial Erectors</a>
            <a href="#" class="btn btn-white">Bathroom Fitters</a>
            <a href="#" class="btn btn-white">Plasterers</a>
            <a href="#" class="btn btn-white">Plumbers</a>
            <a href="#" class="btn btn-white">Roofers</a>
        </div>
    </div>
</div>