<hero></hero>

<div class='container'>
    <div class='row about position-sticky'>
        <div class="col">
            <h2>Why use Bemfeito?</h2>
            <p>Search for tradespeople who work near you from anywhere in <strong>Portugal</strong>.</p>
            <p><strong>Bemfeito is a completely free service</strong>, and you can see the tradespeople's contact information straight away. We don't charge you a penny.</p>
        </div>
        <div class="col grey">
            <h2>Become a Trusted Trader</h2>
            <a class="btn btn-primary" href="#">Join Bemfeito</a>
            <a class="btn btn-secondary" href="#">Login to Bemfeito Traders</a>
            <p>Get endorsed by an independent consumer organsiation.</p>
            <p>Stand out from the crowd</p>
        </div>
    </div>
</div>

<categoryHero></categoryHero>






