<div class="row">
    <mat-form-field>
        <mat-select placeholder="Choose one" [formControl]="selected" [errorStateMatcher]="matcher">
        <mat-option>Clear</mat-option>
        <mat-option value="valid">Valid option</mat-option>
        <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
        <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
        Your selection is invalid
        </mat-error>
    </mat-form-field>
</div>


<div class="row" >
<form [formGroup]="experienceStepDataForm">
    <div class="row form-group">
        <div class="col-6" >
            <p class="text-size">
                Compared to the estimate/quotation were you charged:
                <span class="required">*</span>
            </p>
        </div>
        <div class="col-6" >
      
                <mat-select placeholder="-- Please Select --" 
                    class="input-feedback" 
                    formControlName="estimateAccuracyId"
                    required>
                    <mat-option *ngFor="let accuracy of estimateAccuracies" 
                        value="{{ accuracy }}">
                        {{ accuracy }}
                    </mat-option>
                </mat-select>
                <mat-hint>Errors appear instantly!</mat-hint>

        </div>
    </div>



                     <!-- footer-->
                    <div class="row" >
                        <div align="left" class="col-3">
                            <button mat-flat-button  type="button">Back</button>
                        </div>
                        <div class="col-6"></div>
                        <div align="right" class="col-3">
                            <button mat-flat-button type="button" (click)="submitReview(experienceStepDataForm)">Submit</button>
                        </div>
                    </div>


</form>
</div>
