p {
    font-size: 10pt;
    margin-bottom: 15px;
}

hr {
    opacity: 0.3;
}

.footer {
    background-color: rgba(93, 105, 112, 1);
    padding: 4%;
    color: #fff8f8cc;
    font-size: 16px;
}

.footer a {
    color: #ffffff;
    font-size: 10pt;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

.cookies {
    padding: 15px 10px 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-left-links .nav-link {
    padding: 0 15px 0 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.nav > .nav-link:last-child {
    border-right: none;
}

.col-left-links{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-right-socials{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

@media screen and (max-width:991px) {

    .col-left-links {
        -ms-flex: 0 0 65%;
        flex: 0 0 65%;  
        max-width: 65%;
    }
    
    .col-right-socials {
        -ms-flex: 0 0 35%;
        flex: 0 0 35%;
        max-width: 35%;
    }
}

@media screen and (max-width:768px) {

    .col-left-links,
    .col-right-socials {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;  
        max-width: 100%;
        margin: 0 auto;
    }
    .col-left-links > nav,
    .col-right-socials > nav {
        width: fit-content;
        margin: 0 auto;
    }
    h3 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:425px) {
    h3 {
        font-size: 1.1rem;
    }
    .footer a {
        font-size: 8pt;
    }
    .footer {
        font-size: 0.8rem;
    }
}

