<ng-container *ngIf="!load" >
        <div id="load-home">
            <div class="app-loading-home">
                <div class="logo"></div>
                <svg class="spinner-home" viewBox="25 25 50 50">
                    <circle class="path-home" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
            <div align="center">
                <img class="img-loading-home" src="/Public/bemfeito-logo-v1.png" alt="Bemfeito" width="130px"/>   
            </div>
        </div>
          </ng-container>