#feedback-title {
    color: #4e4e4e;
    padding-top: 6%;
    padding-left: 15%;
    padding-bottom: 10px;
    background-color: #2125290d;
}

.form-stepper {
    padding: 50px 150px 10px 150px;
    border-radius: 15px;
}

.responseNo {
    background-color: #ececec;
    color: red;
    margin: -30px 130px 10px 0px;
    font-size: 15px;
    padding: 10px 7px 10px 10px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.field-container > * {
  width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text-size {
    font-size: 14px;
}

#feedback-descriptions {
    padding: 25px 15% 20px 15%;
}

.input-feedback {
    max-width: 70%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(74, 74, 74, 0.19);
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

#input-trader-box {
    max-width: 50%;
    /* height: 210px; */
    margin-left: 25%;
    /* border-style: outset; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 12%;
}

#input-trader-title {
    padding-top: 32px;
    padding-bottom: 8px;
}

.mat-form-field {
    display: block;
}

.input-trader-form {
    max-width: 50%;
    height: 56px;
    border: solid 1px #808080;
    background-color: #ffffff;
    position: relative;
    padding: 5px;
}

#feedback-footer {
    background-color: #dee2e6;
    padding-bottom: 11px;
    padding-top: 8px;
    padding-right: 6%;
}

#exp-forms {
    border-left-style: inset;
    border-left-width: 6px;
    border-left-color: #4fa6de;
    border-right-style: none;
    border-bottom-style: none;
    /* border-top-style: solid; */
    border-top-width: -1px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(74, 74, 74, 0.19);
    padding-left: 20px;
}

.work-done-select {
    margin-left: 22px;
    max-width: 38%;
}

.md-input-invalid {
    color: rgb(221, 44, 0);
}

.required {
    color: red;
}

#selected-trader {
    padding-left: 30px;
    margin-top: -15px;
    height: 120px;
    border-top-style: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-right-style: inset;
    max-width: 57%;
}

#exp-header {
    padding-bottom: 40px;
    padding-top: 20px;
}